<div class="antiScroll">
    <div class="antiscroll-inner">
        <div class="antiscroll-content">
            <div class="sidebar_inner">
                <form action="#" class="input-append" >
                    <input autocomplete="off" name="query" class="search_query input-medium" size="16" type="text" placeholder="Search..." /><button type="submit" class="btn"><i class="icon-search"></i></button>
                </form>
                <div id="side_accordion" class="accordion">                    
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseOne" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                <i class="icon-folder-close"></i> Menu 
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="collapseOne">
                            <div class="accordion-inner">
                                <ul class="nav nav-list">
                                    <li><a href="{% url 'd-commodity' %}"><span>Daftar Commodity</span></a></li>
                                    <li><a href="{% url 'd-negara' %}"><span>Daftar Negara</span></a></li>  
                                    <li><a href="{% url 'transactions' %}"><span>Daftar Mata Uang</span></a></li>
                                    <li><a href="{% url 'd-kurs' %}"><span>Daftar Kurs</span></a></li>
                                    <li><a href="{% url 'd-pengiriman' %}"><span>Daftar Vendor</span></a></li>
                                    <li><a href="{% url 'd-produk' %}"><span>Daftar Produk</span></a></li>
                                    <li><a href="{% url 'd-param' %}"><span>Daftar Parameter Beli</span></a></li>
                                    <li><a href="{% url 'd-paramjl' %}"><span>Daftar Parameter Jual</span></a></li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#Invoice" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                <i class="icon-th"></i> Menu Invoice 
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="Invoice">
                            <div class="accordion-inner">
                                <ul class="nav nav-list">
                                    <li><a href="{% url 'list_address' %}"><span>Head Invoice</span></a></li>
                                    <li><a href="{% url 'list_shipper' %}"><span>Shipper</span></a></li>
                                    <li><a href="{% url 'list_consigne' %}"><span>Consigne</span></a></li>
                                    <li><a href="{% url 'list_hsc' %}"><span>Gabungan HSC</span></a></li>
                                    <li><a href="{% url 'list_term' %}"><span>Term</span></a></li>
                                    <li><a href="{% url 'list_ddp' %}"><span>DDP</span></a></li>
                                    <li><a href="{% url 'list_pic' %}"><span>PIC</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a href="#collapseTwo" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
                                <i class="icon-cog"></i> Modules
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="collapseTwo">
                            <div class="accordion-inner">
                                <ul class="nav nav-list">
                                    <li><a href="{% url 'd-job' %}">Data Job</a></li>
                                    <li><a href="{% url 'd-sale' %}">Data Sale</a></li>
                                    <li><a href="{% url 'rpt-job' %}">Report Job</a></li>
                                    <li><a href="{% url 'rpt-sale' %}">Report Sale</a></li>                                    
                                </ul>
                            </div>
                        </div>
                        <div class="accordion-group">
							<div class="accordion-heading">
								<a href="#collapseThree" data-parent="#side_accordion" data-toggle="collapse" class="accordion-toggle">
									<i class="icon-user"></i> Keuangan manager
								</a>
							</div>
							<div class="accordion-body collapse" id="collapseThree">
								<div class="accordion-inner">
									<ul class="nav nav-list">
										<li><a href="{% url 'i-biaya' %}">Menu input Biaya</a></li>
                                        <li><a href="{% url 'i-glpst' %}">Members</a></li>
									</ul>
                                    
								</div>
							</div>
						</div>
                    </div>
                </div>
                <div class="push"></div>
            </div>            
        </div>
    </div>
</div>
