{% extends "layouts/base.html" %}
{% load static %}

{% block title %} list_term {% endblock %}
{% block content %}
<div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li>
            <a href="/"><i class="icon-home"></i></a>
        </li>
        <li>
            <a href="{% url 'list_term' %}"> Data Term</a>
        </li>
    </ul>
</div>
<div class="row-fluid">
    <div class="span4">
        <form action="{% url 'list_term' %}" class="input-append" method="get" >
            <input autocomplete="off" name="search" class="search_query input-medium" size="16" type="text" placeholder="Search..." /><button type="submit" class="btn"><i class="icon-search"></i></button>
        </form>
    </div>      
</div> 
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Term <a href="{% url 'add-term' %}" class="btn btn-info"> Add</a></h3>    
        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nama</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- Item -->
                {% if transactions is not True %}
                    {% for transaction in transactions %}
                        <tr class="item-row" data-edit="{% url 'list_term' transaction.id 'edit' %}"
                            data-detail="{% url 'list_term' transaction.id %}">
                            <td><span class="font-weight-bold">{{ transaction.id }}</span></td>
                            <td><span class="font-weight-normal">{{ transaction.nama_term }}</span></td>
                                                       
                            <td>
                                <span class="font-weight-bold {{ transaction.status.class }}">{{ transaction.get_status_display }}</span>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <li class="dropdown-menu">
                                        <ul>
                                            <a href="{% url 'list_term' transaction.id 'edit' %}">
                                            <span class="fas fa-edit mr-2"></span> Edit</a>
                                        </ul>
                                        <ul>
                                            <a data-href="{% url 'list_term' transaction.id %}" class="text-danger delete_item">
                                            <span class="fas fa-trash-alt mr-2"></span> Remove</a>
                                        </ul>
                                    </li>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

            {{ transactions.pagination }}

        </div>
    </div>
</div>   

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
