
<table>
    <tr><td><b>Menu Penentuan Input parameter </b></td><td></td></tr>   
    
    <tr>
        <td>Produk</td>
        <td>: {{h_ajax.produk}}</td>
    </tr>
    <tr>    
        <td>Jenis Pengiriman</td>
        <td>: {% if h_ajax.js == '1' %} Airfreight {% else%} Seafreight {% endif %}</td>
	</td>
    <tr>
        <td>ID Param</td>
        <td>: {{h_ajax.param}}</td>
	</td>
    <tr>
        <td>Origin</td>
        <td>: {{h_ajax.org}}</td>
        <td>Origin Vendor</td>
        <td>: {{h_ajax.org_ven}}</td>        
	</td>
    <tr>
        <td>Through</td>
        <td>: {{h_ajax.ds}}</td>
        <td>Through Vendor</td>
        <td>: {{h_ajax.ds_ven}}</td>        
	</td>
    <tr>
        <td>Destination</td>
        <td>: {{h_ajax.lt}}</td>
        <td>Destination Vendor</td>
        <td>: {{h_ajax.lt_ven}}</td>        
	</td>

    </tr>
</table>

