{% extends "layouts/base.html" %}
{% block title %} Input{% endblock title %}
{% block extrahead %}
{% endblock extrahead %}
{% load static %}
{% block content %}
<div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li>
            <a href="/"><i class="icon-home"></i></a>
        </li>
        <li>
            <a href="{% url 'f-pengajuan' %}">Add Job</a>
        </li>
        <li>
            Menu Input
        </li>
    </ul>
</div>
<div class="row-fluid">
    <form class="tabular">
        <div class="span12">
            <div class="w-box" id="w_sort05">    
                <div class="w-box-header">
                    Menu Input Project IST
                    <div class="pull-right">
                        <i class="splashy-calendar_month_up"></i>
                    </div>
                </div>
                <div class="w-box-content cnt_a">
                    <div class="row-fluid">
                        <label>{{forms.products.label}}</label> 
                        {{forms.products}} {{forms.jenis_produk}}
                    </div>
                    <div class="row-fluid">
                        <label>Destination</label> {{forms.poin_tiga}} {{forms.destinations_vendor}}                        
                    </div>

                    <div class="clearfix  text-right">
                        <button class="btn btn-inverse " type="button" onclick="cek_parameter()">
                            <i class="icon-white icon-ok-circle"></i> Cek Parameter
                        </button>
                        <button class="btn btn-gebo"><a href="/"><i class="splashy-sprocket_dark"></i> Cancel</a></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade new-modal" id="mymodal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">x</button>
        <h3>Paramater Project Inputan</h3>
      </div>
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
</div>

{% block javascript %}
{% include 'alat/chosen.html' %}
<script >
function cek_parameter()
    {
        var jenis_produk = $('#id_jenis_produk').val();  
        var produk = $('#id_products').val();
        var poin_satu = $('#id_poin_satu').val();
        var origin_vendor = $('#id_origin_vendor').val();
        var poin_dua = $('#id_poin_dua').val();
        var through_vendor = $('#id_through_vendor').val();        
        var poin_tiga = $('#id_poin_tiga').val();
        var destinations_vendor =$('#id_destinations_vendor').val()
        var dataString = 'produk='+produk+'&poin_satu='+poin_satu+'&poin_dua='+poin_dua+'&poin_tiga='+poin_tiga+
            '&origin_vendor='+origin_vendor+'&through_vendor='+through_vendor+'&destinations_vendor='+destinations_vendor+'&jenis_produk='+jenis_produk ;
        $.ajax({
            url: "{% url 'show-param' %}",
            data: dataString,
            dataType: "JSON",
            error: function(data){
                jAlert('Parameter Belum Tersedia!');
                vendor_kosong();
            },
            success: function (data) {
               $("#mymodal .modal-content").html(data.django_form);
               $("#mymodal").modal("show");
           }
        });
    }

function vendor_kosong()
    {
        $('#id_products').val('');
        $('#id_poin_satu').val('');
        $('#id_poin_dua').val('');
        $('#id_poin_tiga').val('');
    }
</script>    
{% endblock javascript %}
{% endblock content %}