{% extends "layouts/base.html" %}
{% block title %} DataJobAll{% endblock title %}
{% block extrahead %}
{% endblock extrahead %}
{% load humanize %}
{% load static %}
{% block content %}
<div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li>
            <a href="/"><i class="icon-home"></i></a>
        </li>
        <li>
            <a href="{% url 'd-job' %}">Data Job</a>
        </li>
        <li>
            Detail Job
        </li>
    </ul>
</div>
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Detail Job</h3>
		<table class="table table-bordered table-striped table_vam" id="dt_gal">
			<thead>
				<tr>
					<th>#</th>
					<th>Tanggal</th>
					<th>Nomor</th>
					<th>Qty</th>
					<th>Produk </th>
					<th>Commodity</th>
				</tr>
			</thead>
			<tbody>
                <tr>
                    <td>{{data.id}}</td>
                    <td>{{data.tanggal}}</td>
                    <td>{{data.no_pekerjaan}}</td>
                    <td>{{data.qty}}</td>
                    <td>{{data.products}}</td>
                    <td>{{data.commodity.nama}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        
        {% if  data.sale_set.all %}
            {% for data in  data.sale_set.all %}
                {% include 'job/invoice_sale.html' %}
            {% if data.status_duty  %}
                {% include 'job/invoice_duty.html' %}
            {% endif %}
            {% endfor %}
        {% else %}
        <a href="{% url 'jl-pisah' data.id %}"><button class="btn btn-small btn-danger"><i class="splashy-add_small"></i>Sale</button></a>
        {% endif %}
        
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            {% for data in  data.job_set.all %}
            {% if data.vendor.id == 1 %}
                {% include "job/pervendor/fred_table.html" %}
            {% endif  %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            {% for data in  data.job_set.all %}
            {% if data.vendor.id == 5 %}
                {% include "job/pervendor/dl_table.html" %}          
            {% endif %}

            {% endfor %}
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            {% for data in  data.job_set.all %}
            {% if data.vendor.id == 3 %}
                {% include "job/pervendor/solid_table.html" %}          
            {% endif %}

            {% endfor %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            {% for data in  data.job_set.all %}
            
            {% if data.vendor.id == 10 %}
                {% include "job/pervendor/gastiasih_table.html" %}
            {% endif  %}
            
            {% endfor %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            {% for data in  data.job_set.all %}
            
            {% if data.vendor.id == 18 %}
                {% include "job/pervendor/lintasnegara_table.html" %}
            {% endif  %}
            
            {% endfor %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            {% for data in  data.job_set.all %}
            
            {% if data.vendor.id == 19 %}
                {% include "job/pervendor/antarlapan_table.html" %}
            {% endif  %}
            
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}