{% load humanize %}
<h3 class="heading"><a href="{% url 'e-jual' data.id %}">{{data.prod.vendor}}</a> | 
    <a href="{% url 'ctk-job-buy' data.id %}"><button class="btn btn-small btn-info">Invoice</button></a>
    <a href="{% url 'add-ref' data.id %}"><button class="btn btn-small btn-success">Input Reff</button></a>
</h3>
<table class="table table-bordered table-striped table_vam" style="color: blue;">
    <tr>
        <td colspan='6'><div class="text-center act-info">{{data.trans.products}}</div></td>
    </tr>    
    <tr>
        <td rowspan='2'><div class="text-center"><b>{{data.prod.vendor}}</b></div></td>
        <td rowspan='2' colspan='2'></td>
        <td><div class="text-center">Ref</div></td>
        <td><div class="text-center">Customer Ref</div></td>
        <td><div class="text-center">Job Number</div></td>
    </tr>
    <tr>
        <td><div class="text-center">{% include 'job/refdata.html' %}</div></td>
        <td><div class="text-center">{% include 'job/refcustomer.html' %}</div></td>
        <td><div class="text-center">{{data.trans.no_pekerjaan}}</div></td>
    </tr>
    <tr>
        <td><div class="text-center"> Detail Charges</div></td>
        <td colspan="2"><div class="text-center">Currency </div></td>
        <td><div class="text-center">Price </div> </td>
        <td colspan="2"><div class="text-center"> Amount</div></td>
    </tr>
    <tr>
        <td> <b> {{data.trans.re_export_shipment_one }} ({{data.trans.re_export_shipment_one_pcs}} / {{data.trans.re_export_shipment_one_qty}} ) </b></td>
        <td colspan='2'>{{data.trans.re_export_shipment_one_qty}}</td><td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Airfreight Import Handling</td>
        <td colspan='2'>1.00 AWB</td><td></td>
        <td></td>
        <td><div class="text-right">{{data.airfreight_one|intcomma}}</div></td>
    </tr>
    <tr>
        <td>Cartage and Warehouse Charge</td>
        <td colspan='2'>{{data.trans.re_export_shipment_one_qty}}</td>
        <td><div class="text-right">{{data.prod.nilai_kurs}} {{data.price_cartage_warehouse_charge_one}}</div></td>
        <td></td>                
        <td><div class="text-right">{{data.cartage_warehouse_charge_one|intcomma }}</div></td>
    </tr>
    <tr>
        <td> <b> {{data.trans.re_export_shipment_two }} ({{data.trans.re_export_shipment_two_pcs}} / {{data.trans.re_export_shipment_two_qty}} ) </b></td>
        <td colspan='2'>{{data.trans.re_export_shipment_two_qty}}</td><td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Airfreight Import Handling</td>
        <td colspan='2'>1.00 AWB</td><td></td>
        <td></td>
        <td><div class="text-right">{{data.airfreight_two|intcomma}}</div></td>
    </tr>
    <tr>
        <td>Cartage and Warehouse Charge</td>
        <td colspan='2'>{{data.trans.re_export_shipment_two_qty}}</td>
        <td><div class="text-right">{{data.prod.nilai_kurs}} {{data.price_cartage_warehouse_charge_two}}</div></td>
        <td></td>                
        <td><div class="text-right">{{data.cartage_warehouse_charge_two|intcomma }}</div></td>
    </tr>
    <tr>
        <td>Export Handling</td>
        <td colspan='2'>1.00 AWB</td><td></td>
        <td></td>
        <td><div class="text-right">{{data.export_handling|intcomma}}</div></td>
    </tr>
    <tr>
        <td>{{data.trans.products.get_jenis_produk_display}} {{data.trans.products.point_satu}} - {{data.trans.products.point_dua}} - {{data.trans.products.point_tiga}}</td>
        <td colspan='2'>{{data.trans.weight}} </td>
        <td><div class="text-right">{{data.nilai_kurs.mtu.kode_matauang}} {{data.price_freight}}</div></td>
        <td> </td>                
        <td><div class="text-right">{{data.freight|intcomma}}</div></td>
    </tr>
    <tr>
        <td><b>Local Handling Charge</b></td>
        <td colspan='2'></td><td></td>
        <td></td>
        <td><div class="text-right"></div></td>
    </tr>
    <tr>
        <td>Doc and Clearance</td>
        <td colspan='2'>1.00 AWB</td>
        <td><div class="text-right">{{data.prod.nilai_kurs}} {{data.price_doc_clearance}}</div></td>
        <td></td>                
        <td><div class="text-right">{{data.doc_clearance|intcomma}}</div></td>
    </tr>
    <tr>
        <td>Ground Handling</td>
        <td colspan='2'>{{data.trans.weight}}</td>
        <td><div class="text-right">{{data.prod.nilai_kurs}} {{data.price_ground_handling}}</div></td>
        <td></td>                
        <td><div class="text-right">{{data.ground_handling|intcomma}}</div></td>
    </tr>
    <tr>
        <td>Warehouse Charge ({{data.warehouse_charge_days}}  Days)</td>
        <td colspan='2'>{{data.trans.weight}} </td>
        <td><div class="text-right">{{data.prod.nilai_kurs}} {{data.price_warehouse_charge}}</div></td>
        <td></td>                
        <td><div class="text-right">{{data.warehouse_charge|intcomma}}</div></td>
    </tr>
    <tr>
        <td>Handling Charge</td>
        <td colspan='2'>{{data.trans.weight}}</td>
        <td><div class="text-right">{{data.prod.nilai_kurs}} {{data.price_handling_charge }}</div></td>
        <td></td>                
        <td><div class="text-right">{{data.handling_charge|intcomma}}</div></td>
    </tr>
    <tr>
        <td>Delivery</td>
        <td colspan='2'>{{data.prod.price_delivery}}</td>
        <td><div class="text-right">{{data.prod.nilai_kurs}} {{data.price_delivery }}</div></td>
        <td></td>                
        <td><div class="text-right">{{data.delivery|intcomma}}</div></td>
    </tr>
    
    <tr>
        <td></td>
        <td colspan='2'></td><td></td>
        <td><b>Total {{data.nilai_kurs.mtu.kode_matauang}}</b></td>
        <td><div class="text-right act-danger">{#{data.total_sale|intcomma}#}</div></td>
    </tr>
</table>