{% for ref in  data.refcustomer_set.all %}
    {% if ref.jumlahreffcs == '11' %}
        <p>{{ref.csref1}}</p>
    {% endif %}
    {% if ref.jumlahreffcs == '12' %}
        <p>{{ref.csref1}}</p>
        <p>{{ref.csref2}}</p>
    {% endif %}
    {% if ref.jumlahreffcs == '13' %}
        <p>{{ref.csref1}}</p>
        <p>{{ref.csref2}}</p>
        <p>{{ref.csref3}}</p>
    {% endif %}
    {% if ref.jumlahreffcs == '14' %}
        <p>{{ref.csref1}}</p>
        <p>{{ref.csref2}}</p>
        <p>{{ref.csref3}}</p>
        <p>{{ref.csref4}}</p>
    {% endif %}
    {% if ref.jumlahreffcs == '15' %}
        <p>{{ref.csref1}}</p>
        <p>{{ref.csref2}}</p>
        <p>{{ref.csref3}}</p>
        <p>{{ref.csref4}}</p>
        <p>{{ref.csref5}}</p>
    {% endif %}
    {% if ref.jumlahreffcs == '16' %}
        <p>{{ref.csref1}}</p>
        <p>{{ref.csref2}}</p>
        <p>{{ref.csref3}}</p>
        <p>{{ref.csref4}}</p>
        <p>{{ref.csref5}}</p>
        <p>{{ref.csref6}}</p>
    {% endif %}
    {% if ref.jumlahreffcs == '17' %}
        <p>{{ref.csref1}}</p>
        <p>{{ref.csref2}}</p>
        <p>{{ref.csref3}}</p>
        <p>{{ref.csref4}}</p>
        <p>{{ref.csref5}}</p>
        <p>{{ref.csref6}}</p>
        <p>{{ref.csref7}}</p>
    {% endif %}
    {% if ref.jumlahreffcs == '18' %}
        <p>{{ref.csref1}}</p>
        <p>{{ref.csref2}}</p>
        <p>{{ref.csref3}}</p>
        <p>{{ref.csref4}}</p>
        <p>{{ref.csref5}}</p>
        <p>{{ref.csref6}}</p>
        <p>{{ref.csref7}}</p>
        <p>{{ref.csref8}}</p>
    {% endif %}
    {% if ref.jumlahreffcs == '19' %}
        <p>{{ref.csref1}}</p>
        <p>{{ref.csref2}}</p>
        <p>{{ref.csref3}}</p>
        <p>{{ref.csref4}}</p>
        <p>{{ref.csref5}}</p>
        <p>{{ref.csref6}}</p>
        <p>{{ref.csref7}}</p>
        <p>{{ref.csref8}}</p>
        <p>{{ref.csref9}}</p>
    {% endif %}
    {% if ref.jumlahreffcs == '20' %}
        <p>{{ref.csref1}}</p>
        <p>{{ref.csref2}}</p>
        <p>{{ref.csref3}}</p>
        <p>{{ref.csref4}}</p>
        <p>{{ref.csref5}}</p>
        <p>{{ref.csref6}}</p>
        <p>{{ref.csref7}}</p>
        <p>{{ref.csref8}}</p>
        <p>{{ref.csref9}}</p>
        <p>{{ref.csref10}}</p>
    {% endif %}      
{% endfor %}