{% for ref in  data.refcustomer_set.all %}

    
        {% if ref.jumlahreff == '1' %}
            <p>{{ref.ref1}}</p>
        {% endif %}
        {% if ref.jumlahreff == '2' %}
            <p>{{ref.ref1}}</p>
            <p>{{ref.ref2}}</p>
        {% endif %}
        {% if ref.jumlahreff == '3' %}
            <p>{{ref.ref1}}</p>
            <p>{{ref.ref2}}</p>
            <p>{{ref.ref3}}</p>
        {% endif %}
        {% if ref.jumlahreff == '4' %}
            <p>{{ref.ref1}}</p>
            <p>{{ref.ref2}}</p>
            <p>{{ref.ref3}}</p>
            <p>{{ref.ref4}}</p>
        {% endif %}
        {% if ref.jumlahreff == '5' %}
            <p>{{ref.ref1}}</p>
            <p>{{ref.ref2}}</p>
            <p>{{ref.ref3}}</p>
            <p>{{ref.ref4}}</p>
            <p>{{ref.ref5}}</p>
        {% endif %}
        {% if ref.jumlahreff == '6' %}
            <p>{{ref.ref1}}</p>
            <p>{{ref.ref2}}</p>
            <p>{{ref.ref3}}</p>
            <p>{{ref.ref4}}</p>
            <p>{{ref.ref5}}</p>
            <p>{{ref.ref6}}</p>
        {% endif %}
        {% if ref.jumlahreff == '7' %}
            <p>{{ref.ref1}}</p>
            <p>{{ref.ref2}}</p>
            <p>{{ref.ref3}}</p>
            <p>{{ref.ref4}}</p>
            <p>{{ref.ref5}}</p>
            <p>{{ref.ref6}}</p>
            <p>{{ref.ref7}}</p>
        {% endif %}
        {% if ref.jumlahreff == '8' %}
            <p>{{ref.ref1}}</p>
            <p>{{ref.ref2}}</p>
            <p>{{ref.ref3}}</p>
            <p>{{ref.ref4}}</p>
            <p>{{ref.ref5}}</p>
            <p>{{ref.ref6}}</p>
            <p>{{ref.ref7}}</p>
            <p>{{ref.ref8}}</p>
        {% endif %}
        {% if ref.jumlahreff == '9' %}
            <p>{{ref.ref1}}</p>
            <p>{{ref.ref2}}</p>
            <p>{{ref.ref3}}</p>
            <p>{{ref.ref4}}</p>
            <p>{{ref.ref5}}</p>
            <p>{{ref.ref6}}</p>
            <p>{{ref.ref7}}</p>
            <p>{{ref.ref8}}</p>
            <p>{{ref.ref9}}</p>
        {% endif %}
        {% if ref.jumlahreff == '10' %}
            <p>{{ref.ref1}}</p>
            <p>{{ref.ref2}}</p>
            <p>{{ref.ref3}}</p>
            <p>{{ref.ref4}}</p>
            <p>{{ref.ref5}}</p>
            <p>{{ref.ref6}}</p>
            <p>{{ref.ref7}}</p>
            <p>{{ref.ref8}}</p>
            <p>{{ref.ref9}}</p>
            <p>{{ref.ref10}}</p>
        {% endif %}      
    
{% endfor %}