{% extends 'layouts/base.html' %}
{% block title %} IJob{% endblock title %}
{% block extrahead %}
{% include "alat/job.html" %}
{% endblock extrahead %}
{% block content %}
<div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li>
            <a href="/"><i class="icon-home"></i></a>
        </li>
        <li>
            <a href="{% url 'in-pengajuan' %}">Job</a>
        </li>
        <li>
            Input Job #{{param.products.origin_vendor.id}} {{param.products.through_vendor.id}} {{param.products.destinations_vendor.id}} #{{pse.vendor.id}} 
        </li>
    </ul>
</div>
<div class="row-fluid">
    <div class="span12">
		<div class="row-fluid">
			<div class="span12">
                <form id="validate_wizard" class="stepy-wizzard form-horizontal tabular" method="POST" action="." enctype="multipart/form-data" >{% csrf_token %}
                    <fieldset title="{{param.products.origin_vendor}}">
                        <legend class="hide">{{param.products.point_satu}}&hellip;</legend>
                        {% if param.products.origin_vendor.id == 10 %}
                        {% include "pengajuan/input/pecah/show/gastiasih/tampil_gastiasih.html" %}
                        {% endif %}
                        {% if param.products.origin_vendor.id == 1 %}
                        {% include "pengajuan/input/pecah/show/freight/tampil_freight.html" %}
                        {% endif %}
                        {% if param.products.origin_vendor.id == 12 %}
                        {% include "pengajuan/input/pecah/show/warsila/tampil_warsila.html" %}
                        {% endif %}
                    </fieldset>
                    <fieldset title="{{param.products.through_vendor}}">
                        <legend class="hide">{{param.products.point_dua}}&hellip;</legend>
                        {% if param.products.through_vendor.id == 19 %}
                        {% include "pengajuan/input/pecah/show/antarlapan/tampil_antarlapan.html" %}
                        {% endif %}
                        {% if param.products.through_vendor.id == 3 %}
                        {% include "pengajuan/input/pecah/show/solid/tampil_solid.html" %}
                        {% endif %}
                        {% if param.products.through_vendor.id == 8 %}
                        {% include "pengajuan/input/pecah/show/dhl/tampil_dhl_satu.html" %}
                        {% endif %}
                        {% if param.products.through_vendor.id == 18 %}
                        {% include "pengajuan/input/pecah/show/lintas/tampil_lintasnegara.html" %}
                        {% endif %}
                        {% if param.products.through_vendor.id == 1 %}
                        {% include "pengajuan/input/pecah/show/freight/tampil_freight2.html" %}
                        {% endif %}
                    </fieldset>
                    <fieldset title="{{param.products.destinations_vendor}}">
                        <legend class="hide">{{param.products.point_tiga}}&hellip;</legend>
                        {% if param.products.destinations_vendor.id == 5 %}
                        {% include "pengajuan/input/pecah/show/dili/tampil_dili.html" %}
                        {% endif %}
                       
					</fieldset>
                    <!--
                    {{form.as_table}}
                    {{forms.as_table}}
                    {{formss.as_table}}
                    
                    -->
                    <button type="submit"  name ='submit' class="finish btn btn-primary"><i class="icon-ok icon-white"></i> Simpan</button>
                </form>
            </div>
        </div>
	</div>
</div>

{% block javascript %}
{% include "pengajuan/input/pecah/ajax/ajax_vendor_fred.html" %}
{% include "pengajuan/input/pecah/ajax/ajax_vendor_solid.html" %}
{% include 'pengajuan/input/pecah/ajax/ajax_vendor_gasti.html' %}
{% include 'pengajuan/input/pecah/ajax/ajax_vendor_dili.html' %}
{% include 'pengajuan/input/pecah/ajax/ajax_vendor_indahsinergi.html' %}
{% include 'alat/chosen.html' %}

{% endblock javascript %}
{% endblock content %}