<script src="/static/bootstrap/number/jquery-migrate-1.2.1.js"  type="text/javascript"></script>
<script src="/static/js/jquery.meio.mask.min.js?{% now "s" %}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function($) {
    $("input:text").setMask();
    $('.tabular').submit(function(){
        $('input.uang').each(function () { $(this).val(to_number($(this).val())); });
        return true;
    });
});
</script>
<script>
$(document).ready(function(){
    $('#id_ket_listrik','#id_ket_pdam').keyup(function(){
     $(this).val($(this).val().toUpperCase());
    });
});
</script>
 
