{% load static %}
<script src="/static/js/jquery.meio.mask.min.js?{% now 's' %}" type="text/javascript"></script>
<script src="/static/fomset/test/js/jquery.autocomplete.pack.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function($) {
    updateJumlahKredit();
    updateJumlahDebet();
    setSubmitEnabled();
    $("input.uang").setMask();
    $("input.rp_kredit").keypress(function(event){
        if (event.charCode && (event.charCode < 46 || event.charCode > 57 || event.charCode == 47))
        { event.preventDefault(); }
    });
    $("input.rp_debet").keypress(function(event){
        if (event.charCode && (event.charCode < 46 || event.charCode > 57 || event.charCode == 47))
        { event.preventDefault(); }
    });
    $("input.rp_kredit").change(function() {
        updateJumlahDebet();
        updateJumlahKredit();
        if ($("#selisih_jurnal").html() != '0') { 
            setSubmitEnabled(false);
        } else { setSubmitEnabled(); }
    });
    $("input.rp_debet").change(function() {
        updateJumlahDebet();
        updateJumlahKredit();
        if ($("#selisih_jurnal").html() != '0') { 
            setSubmitEnabled(false);
        } else { setSubmitEnabled(); }
    });
    

    //$(".kode_rekening").autocomplete('/jurnal/rekening/search/?ajax=1&jurnal=1', {
        //formatItem: function (row, i, max) { return row[0] + "|" + row[1]; },
        //formatMatch: function (row, i, max) { return row[1]; },
        //formatResult: function(row) { return row[0]+ "|" + row[1]; }
    //});

    $("#form_jurnal").submit(function () {
        $("input.uang").each(function () {
            $(this).val(to_number($(this).val()));
        });
        return true;
    });
});
function updateJumlahKredit() {
    var tot_kredit = 0;
    $("input.rp_kredit").each(function() {
        tot_kredit += parseFloat(to_number(this.value));
    });
    $("#total_kredit").text(format_number(String(tot_kredit)));
    $("#selisih_jurnal").text(format_number(String(to_number($("#total_debet").text()) - to_number($("#total_kredit").text()))));
}
function updateJumlahDebet() {
    var tot_debet = 0;
    $("input.rp_debet").each(function() {
        tot_debet += parseFloat(to_number(this.value));
    });
    $("#total_debet").text(format_number(String(tot_debet)));
    $("#selisih_jurnal").text(format_number(String(to_number($("#total_debet").text()) - to_number($("#total_kredit").text()))));
}
function setSubmitEnabled (state) {
    if (state==null & 
        ($("#total_kredit").html() != '0')) stat = '';
    else stat = 'disabled';
    $("input#id_simpan").attr("disabled",stat);
}

</script>

