.left {float: left;}
.right {float: right;}

.clearer {clear: both;display: block;font-size: 0;height: 0;line-height: 0;}


.hidden {display: none;}

#center-wrapper {margin: 0 auto;width: 1310px;height:600px;}

#content,#sidebar {line-height: 300px;text-align: center;border: 1px solid;}

#sidebar {background-color: #DEF;border-color: #BCD;
	display: none;float: right;position: relative; z-index: 0; min-height: 600px; padding: 0; margin: 0;
}
#content {background-color: #EFE;border-color: #CDC;
	width: 97%;z-index: 10; height:600px; min-height: 600px;
}

.use-sidebar #content {width: 64%;}
.use-sidebar #sidebar {
	display: block;
	width: 32%;
}

.sidebar-at-left #sidebar {margin-right: 1%;}
.sidebar-at-right #sidebar {margin-left: 1%;}

.sidebar-at-left #content, .use-sidebar.sidebar-at-right #sidebar, .sidebar-at-right #separator {float: right;}
.sidebar-at-right #content, .use-sidebar.sidebar-at-left #sidebar, .sidebar-at-left #separator {float: left;}

#separator {background-color: #EEE;border: 1px solid #CCC;
	display: block;
	outline: none;
	width: 1%;
}
.use-sidebar #separator {
	background: url('img/vertical-separator.gif') repeat-y center top;
	border-color: #FFF;
}
#separator:hover {
	border-color: #ABC;
	background: #DEF;
}
