{% extends "layouts/base.html" %}
{% block title %} DataJob{% endblock title %}
{% block extrahead %}
{% endblock extrahead %}
{% load humanize %}
{% load static %}
{% block content %}
<div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li>
            <a href="/"><i class="icon-home"></i></a>
        </li>
        <li>
            Data Job
        </li>
    </ul>
</div>
<div class="row-fluid">
    <div class="span4">
        <form action="{% url 'd-job' %}" class="input-append" method="get" >
            <input autocomplete="off" name="search" class="search_query input-medium" size="16" type="text" placeholder="Search..." /><button type="submit" class="btn"><i class="icon-search"></i></button>
        </form>
    </div>      
</div> 
<div class="row-fluid">
    <div class="span12">
        <h3 class="heading">Data Pekerjaan</h3>
            <div class="tabbable tabbable-bordered">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="{% url 'd-job' %}">ON Proses</a></li>
                    <li><a href="{% url 'd-job-done' %}" >Selesai</a></li>
                </ul>
                <div class="tab-content">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nomor Pekerjaan</th>
                                <th>No Invoice</th>
                                <th>Vendor</th>
                                <th>Tanggal</th>
                                <th>Kurs</th>
                                <th>Total Job</th>
                                <th>Status</th>
                                <!--<th>Action</th>-->                    
                            </tr>
                        </thead>
                        <tbody>
                        {% if data is not True %}
                        {% regroup data by transaksi as grouped %}
                        {% for group in grouped %}
                            {% for transaction in group.list %}
                                <tr class="item-row" >
                                    <td><span class="font-weight-bold">{{ forloop.counter }}</span></td>
                                    {% ifchanged %}
                                        <td  rowspan="{{ group.list|length }}"><span class="font-weight-normal">
                                            <div class="text-center">
                                                <a href="{% url 'dtl-all-job' transaction.transaksi.id %}">{{ transaction.transaksi.no_pekerjaan }}</a>
                                            </div></span>
                                        </td>
                                    {% endifchanged %}
                                    <td><span class="font-weight-normal">{{ transaction.no_invoice }}</span></td>
                                    <td><span class="font-weight-normal">{{ transaction.vendor }}</span></td>
                                    <td><span class="font-weight-normal">{{ transaction.tanggal_invoice|date:'d - m - Y' }}</span></td>
                                    <td><span class="font-weight-normal">{{ transaction.nilai_kurs }}</span></td>
                                    <td><div class="text-right">{{ transaction.total_job|intcomma }}</div></td>
                                    <td>                               
                                        <div class="text-center">
                                            {% if transaction.status_job  %}
                                            <button class='btn btn-sm btn-info'>Done</button>    
                                            {% else %}
                                            <button class='btn btn-sm'><a href="{% url 'up-job' transaction.id %}">  Up</a></button>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <!--<td><div class="text-center">
                                                <a class="dropdown-item "
                                                href="{% url 'ctk-job' transaction.id  %}">
                                                <span class="fas fa-edit mr-2"></span>Invoice
                                                </a>
                                            </div>
                                    </td>-->
                                    
                                </tr>
                            {% endfor %}
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mb-0">
                                <li class="page-item">
                                    <a class="page-link" {% if data.has_previous %}href="?page={{ data.previous_page_number }}{% if url_params %}&{{ url_params }}{% endif %}"{% endif %}>Previous</a>
                                </li>
                
                                {% for page_number in data.paginator.page_range %}
                                    {% if items.number == page_number %}
                                        <li class="page-item active">
                                            <a class="page-link">{{ page_number }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" {% if page_number != '...' %}href="?page={{ page_number }}{% if url_params %}&{{ url_params }}{% endif %}"{% endif %}>{{ page_number }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                
                                <li class="page-item">
                                    <a class="page-link" {% if data.has_next %}href="?page={{ data.next_page_number }}{% if url_params %}&{{ url_params }}{% endif %}"{% endif %}>Next</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="font-weight-bold small">Showing <b>{{ data.number }}</b> out of <b>{{ last }}</b> entries</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock %}