{% load humanize %}
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td colspan='6'><div class="text-center act-info">{{data.transaksi.products}}</div></td>
    </tr>    
    <tr>
        <td rowspan='2'><div class="text-center">{{data.vendor}}</div></td>
        <td rowspan='2' colspan='2'></td>
        <td><div class="text-center">Tanggal Invoice</div></td>
        <td><div class="text-center">Nomor Invoice</div></td>
        <td><div class="text-center">Job Number</div></td>
    </tr>
    <tr>
        <td><div class="text-center">{{data.tanggal_invoice|date:'d-M-Y'}}</div></td>
        <td><div class="text-center">{{data.no_invoice}}</div></td>
        <td><div class="text-center">{{data.transaksi.no_pekerjaan}}</div></td>
    </tr>
    <tr>
        <td>Detail</td>
        <td colspan="2"><div class="text-center">Currency </div></td>
        <td></td>
        <td colspan="2"><div class="text-center"> Amount</div></td>
    </tr>
    <tr>
        <td>Storage (At Cost) Import</td>
        <td colspan='2'>{{data.nilai_kurs.mtu.nama_mata_uang}}</td><td></td>
        <td>{{data.nilai_kurs.mtu.kode_matauang}}</td>
        <td><div class="text-right">{{data.storage_at_cost|intcomma}}</div></td>
    </tr>
    <tr>
        <td>PJKP2U SIN - DPS (At Cost)import</td>
        <td colspan='2'>{{data.nilai_kurs.mtu.nama_mata_uang}}</td><td></td>
        <td>{{data.nilai_kurs.mtu.kode_matauang}}</td>
        <td><div class="text-right">{{data.pjkp2u_sin_dps_at_cost|intcomma}}</div></td>
    </tr>
    <tr>
        <td>Storage (MCL) E-0387249 (At Cost) export</td>
        <td colspan='2'>{{data.nilai_kurs.mtu.nama_mata_uang}}</td><td></td>
        <td>{{data.nilai_kurs.mtu.kode_matauang}}</td>
        <td><div class="text-right">{{data.storage_mcl_e_0389249_at_cost|intcomma}}</div></td>
    </tr>
    <tr>
        <td>PKJKP2U DPS - DIL (At Cost) export</td>
        <td colspan='2'>{{data.nilai_kurs.mtu.nama_mata_uang}}</td><td></td>
        <td>{{data.nilai_kurs.mtu.kode_matauang}}</td>
        <td><div class="text-right">{{data.pjkp2u_dps_dil_at_cost|intcomma }}</div></td>
    </tr>
    <tr>
        <td></td>
        <td colspan='2'></td><td></td>
        <td><b>Total {{data.nilai_kurs.mtu.kode_matauang}}</b></td>
        <td><div class="text-right act-danger">{{data.total_sl_one|intcomma}}</div></td>
    </tr>                                           
</table>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td colspan='6'><div class="text-center act-info">{{data.transaksi.products}}</div></td>
    </tr>    
    <tr>
        <td rowspan='2'><div class="text-center">{{data.vendor}}</div></td>
        <td rowspan='2' colspan='2'></td>
        <td><div class="text-center">Tanggal Invoice</div></td>
        <td><div class="text-center">Nomor Invoice</div></td>
        <td><div class="text-center">Job Number</div></td>
    </tr>
    <tr>
        <td><div class="text-center">{{data.tanggal_invoice|date:'d-M-Y'}}</div></td>
        <td><div class="text-center">{{data.no_invoice_sl_2}}</div></td>
        <td><div class="text-center">{{data.transaksi.no_pekerjaan}}</div></td>
    </tr>
    <tr>
        <td>Detail</td>
        <td colspan="2"><div class="text-center">Currency </div></td>
        <td></td>
        <td colspan="2"><div class="text-center"> Amount</div></td>
    </tr>
    <tr>
        <td>Airfreight</td>
        <td colspan='2'>{{data.nilai_kurs.mtu.nama_mata_uang}}</td><td></td>
        <td>{{data.nilai_kurs.mtu.kode_matauang}}</td>
        <td><div class="text-right">{{data.airfreight|intcomma}}</div></td>
    </tr>
    <tr>
        <td>Overweight Charges Surcharge</td>
        <td colspan='2'>{{data.nilai_kurs.mtu.nama_mata_uang}}</td><td></td>
        <td>{{data.nilai_kurs.mtu.kode_matauang}}</td>
        <td><div class="text-right">{{data.overweight_charges_surcharge|intcomma}}</div></td>
    </tr>
    <tr>
        <td>AWB Fee</td>
        <td colspan='2'>{{data.nilai_kurs.mtu.nama_mata_uang}}</td><td></td>
        <td>{{data.nilai_kurs.mtu.kode_matauang}}</td>
        <td><div class="text-right">{{data.awb_fee|intcomma }}</div></td>
    </tr>
    <tr>
        <td></td>
        <td colspan='2'></td><td></td>
        <td>Sub Total</td>
        <td><div class="text-right act-info"> {{data.total_sl_two|intcomma}}</div></td>
    </tr>
    <tr>
        <td></td>
        <td colspan='2'></td><td></td>
        <td>VAT 1.1%</td>
        <td><div class="text-right act-info"> {{data.total_sl_kali_vat|floatformat:2|intcomma}}</div></td>
    </tr>
    
    <tr>
        <td></td>
        <td colspan='2'></td><td></td>
        <td><b>Total {{data.nilai_kurs.mtu.kode_matauang}}</b></td>
        <td><div class="text-right act-danger">{{data.sum_sub_val_sl|floatformat:2|intcomma}}</div></td>
    </tr>                                           
</table>
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <td colspan='6'><div class="text-center act-info">{{data.transaksi.products}}</div></td>
    </tr>    
    <tr>
        <td rowspan='2'><div class="text-center">{{data.vendor}}</div></td>
        <td rowspan='2' colspan='2'></td>
        <td><div class="text-center">Tanggal Invoice</div></td>
        <td><div class="text-center">Nomor Invoice</div></td>
        <td><div class="text-center">Job Number</div></td>
    </tr>
    <tr>
        <td><div class="text-center">{{data.tanggal_invoice|date:'d-M-Y'}}</div></td>
        <td><div class="text-center">{{data.no_invoice_sl_3}}</div></td>
        <td><div class="text-center">{{data.transaksi.no_pekerjaan}}</div></td>
    </tr>
    <tr>
        <td>Detail</td>
        <td colspan="2"><div class="text-center">Currency </div></td>
        <td></td>
        <td colspan="2"><div class="text-center"> Amount</div></td>
    </tr>
    
    <tr>
        <td>Handling Charges</td>
        <td colspan='2'>{{data.nilai_kurs.mtu.nama_mata_uang}}</td><td></td>
        <td>{{data.nilai_kurs.mtu.kode_matauang}}</td>
        <td><div class="text-right">{{data.handling_charges|intcomma}}</div></td>
    </tr>
    <tr>
        <td></td>
        <td colspan='2'></td><td></td>
        <td>Sub Total</td>
        <td><div class="text-right act-info"> {{data.handling_charges|intcomma}}</div></td>
    </tr>
    <tr>
        <td></td>
        <td colspan='2'></td><td></td>
        <td>VAT 1.1%</td>
        <td><div class="text-right act-info"> {{data.handeling_sl_kali_vat|floatformat:2|intcomma }}</div></td>
    </tr>
    
    
    <tr>
        <td></td>
        <td colspan='2'></td><td></td>
        <td><b>Total {{data.nilai_kurs.mtu.kode_matauang}}</b></td>
        <td><div class="text-right act-danger">{{data.total_sl_tree|floatformat:2}}</div></td>
    </tr>                                           
</table>