{% extends 'layouts/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block extrahead %}
{% endblock extrahead %}
{% load static %}

{% block content %}
<div class="row-fluid">
  <div class="span12">
      <h3 class="heading">Aktifitas Dari Awal Tahun </a>
      </div>
    </div>      
<div class="row-fluid">
  <div class="span12 tac">
    <ul class="ov_boxes">
      <li>
        <div class="p_bar_up p_canvas">2,4,9,7,12,8,16</div>
        <div class="ov_text">
          <strong>{{tr}} Pekerjaan </strong>
          Total Data Pekerjaan
        </div>
      </li>
      <li>
        <div class="p_bar_down p_canvas">20,15,18,14,10,13,9,7</div>
        <div class="ov_text">
          <strong>{{on_proses}} Pekerjaan</strong>
          Total Data Onproses
        </div>
      </li>
      <li>
        <div class="p_line_up p_canvas">3,5,9,7,12,8,16</div>
        <div class="ov_text">
          <strong>{{j_done}} Pekerjaan</strong>
          Total Pekerjaan Selesai
        </div>
      </li>
      <li>
        <div class="p_line_down p_canvas">20,16,14,18,15,14,14,13,12,10,10,8</div>
        <div class="ov_text">
          <strong>{{invoice}} Invoce</strong>
          Total Invoce 
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span12">
    <ul class="dshb_icoNav clearfix">
      <li><a href="{% url 'd-negara' %}" style="background-image: url(/static/paket/img/gCons/world.png)"><span class="label label-info">+{{ng}}</span>Negara</a></li>
      <li><a href="{% url 'transactions' %}" style="background-image: url(/static/paket/img/gCons/lab.png)"><span class="label label-important">+{{mt}}</span>Mata Uang</a>
      <li><a href="{% url 'd-kurs' %}" style="background-image: url(/static/paket/img/gCons/configuration.png)"><span class="label label-info">+{{kurs}}</span>Kurs</a></li>
      <li><a href="{% url 'd-pengiriman' %}" style="background-image: url(/static/paket/img/gCons/van.png)"><span class="label label-success">{{vd}}</span> Vendor</a></li>
      <li><a href="{% url 'd-produk' %}" style="background-image: url(/static/paket/img/gCons/multi-agents.png)"><span class="label label-info">+{{pr}}</span> Produk</a></li>
      <li><a href="{% url 'd-param' %}" style="background-image: url(/static/paket/img/gCons/chat-.png)"><span class="label label-important">{{pr}}</span> Parameter Job</a></li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span5 ">
      <h3 class="heading">Dalam Bentuk Diagram Pie <small>Dua Bulan terakhir</small></h3>
    <div id="fl_2" style="height:200px;width:80%;margin:50px auto 0"></div>
  </div>
  <div class="span7">
      <div class="heading clearfix">
        <h3 class="pull-left">Dalam Bentuk Grafik</h3>
        <span class="pull-right label label-info ttip_t" title="Data Berdasarkan Akumulasi Dua bulan Terakhir">Info</span>
      </div>
    <div id="fl_1" style="height:270px;width:100%;margin:15px auto 0"></div>
  </div>
</div>


{% block javascript %}
	<!-- small charts -->
	<script src="{% static 'paket/js/jquery.peity.min.js' %}" ></script>
	<!-- charts -->
	<script src="{% static 'paket/lib/flot/jquery.flot.min.js' %}" ></script>
  <script src="{% static 'paket/lib/flot/jquery.flot.resize.min.js' %} " ></script>
  <script src="{% static 'paket/lib/flot/jquery.flot.pie.min.js' %}" ></script>
	<!-- dashboard functions -->
	<script src="{% static 'paket/js/gebo_dashboard.js' %}" ></script>
{% endblock javascript %}
{% endblock content %}